* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: #3F3847;
	color: #E7E5E8;
	width: 100%;
	height: 100%;
	font-family: 'Cormorant Garamond', serif;
	font-size: 20px;
	min-height: 100vh;
	position: relative;
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    body {
    	font-size: 16px;
    }
}

@media only screen and (max-width: 767px) {
    body {
    	font-size: 16px;
    }
    .footerclass {
    	width: 200px;
    }
}

.menu-area li a {
	text-decoration: none;
	color: #E7E5E8;
	letter-spacing: 1px;
	font-family: 'Tangerine', cursive;
	display: block;
	padding: 5px 25px 5px 25px;
	font-size: 30px;
	line-height: 30px;
	position: relative;
	margin: 14px auto auto auto;
	z-index: 1;
}

.menu-area li {
	list-style: none;
	display: inline-block;
}

.topnav {
	padding-top: 25px;
	padding-bottom: 70px;
}

nav {
	position: relative;
	padding: 0px 20px 14px 10px;
	text-align: right;
	z-index: 1;
	background: #333;
	margin: 0 auto;
	height: 68px;
}

.logo {
	float: left;
	font-family: 'Tangerine', cursive;
	color: #E7E5E8;
	font-size: 50px;
	text-align: left;
	padding-left: 2%;
	padding-top: 0px;
	line-height: 50px;
	margin-top: 14px;
}

@media screen and (min-width: 991px) and (max-width: 1200px) {
    .logo {
    	font-size: 43px;
    }
    .menu-area li a {
    	font-size: 28px;
    	margin-top: 17px;
    	padding: 5px 18px;
    }
}

@media screen and (min-width: 500px) and (max-width: 991px) {
    .logo {
    	font-size: 43px;
    }
}

.logo a {
	text-decoration: none;
	color: #E7E5E8;
}

.menu-area li a:hover {
	background: tomato;
	color: #fff;
}

nav:before {
	position: absolute;
	content: '';
	left: 0;
	top: 100%;
	border-top: 10px solid #333;
	border-right: 10px solid #333;
	border-left: 10px solid transparent;
	border-bottom: 10px solid transparent;
}

nav:after {
	position: absolute;
	content: '';
	border-top: 10px solid #333;
	border-left: 10px solid #333;
	border-right: 10px solid transparent;
	border-bottom: 10px solid transparent;
	top: 100%;
	right: 0;
}

h1 {
	padding-bottom: 25px;
	margin-bottom: 30px;
}

img {
	height: 300px;
	width: 250px;
	object-fit: cover;
}

.index {
	width: 45%;
	background-color: #333;
	margin: 0px auto 15px auto;
	border-radius: 35px;
	padding-top: 40px;
	padding-bottom: 15px;
}

.tall a img{
	height: 500px;
}

.container {
  padding: 2px 16px;
  min-height: 100%;
}

.about {
	line-height: 30px;
	padding-bottom: 30px;
	margin-bottom: 15px;
}

.question {
	padding-bottom: 35px;
}

h4 {
	color: #F3B674;
}

h3 {
	color: #F3B674;
	margin-bottom: 500px;
}

.menu-area li ul li{
	display: none;
}

.menu-area li:hover ul li{
	display: block;
}

.menu-area {
	margin-bottom: 0;
}

#product_ul {
	position: absolute;
	text-align: left;
	background-color: #333;
}

.row {
	padding-bottom: 40px;
}

ul li + li a {
	margin-top: 10px;
}

#contact-container {
	position: relative;
	display: flex;
	justify-content: left;
	align-items: center;
	width: 100%;
	height: 100%;
	z-index: 1;
	margin-top: 20px;
	margin-bottom: 90px;
}

#contact-container:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}


.contact-box{
	max-width: 450px;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: left;
	text-align: center;
	box-shadow: 0px 0px 19px 5px rgba (0, 0, 0, 0.19);
	z-index: 1;
}

.left {
	z-index: 1;
}

.field {
	width: 100%;
	padding: 0.5rem 1rem;
	outline: none;
	border: 2px solid rgba (0, 0, 0, 0);
	background-color: rgba (230, 230, 230, 0.6);
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
	border-radius: 7px;
	z-index: 1;
}

.field:hover {
	background-color: rgba (0, 0, 0, 0.1);
}

.field:focus {
	background-color: #fff;
	border: 2px solid rgba (30, 85, 250, 0.47);
}

.area {
	min-height: 200px;
	box-shadow: inset 1px 1px 1px grey;
}

.btn {
	width: 100%;
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	background-color: tomato;
	outline: none;
	border: none;
	cursor: pointer;
	transition: 0.3s;
	color: #fff;
}

.btn:hover {
	background-color: #FA4118;
	color: #fff;
}

@media screen and (max-width:880px) {
	.contact-box {
		grid-template-columns: 1fr;
	}
}

.wrapper {
	color: rgba(255, 255, 255, 0.4);
	padding-left: auto;
	padding-right: auto;
	text-align: center;
}

footer {
	width: 100vw;
	padding: 30px 0px 0px 0px;
	margin: 0 auto;
	text-align: center;
}

footer p {
	margin-bottom: 5px;
}

.footerclass {
	top:-5px;
	right: 0;
	bottom: 0;
	left: 0;
	position: relative;
	width: 350px;
	text-align: left;
	margin-right:auto;
	margin-left: 23%;
}

.first {
	margin-right: 3rem;
}

p a {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.4);
}

p a:hover {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.4);
}

.centering {
	text-align: center;
}

.product {
	margin-bottom: 2rem;
	border: solid 1px #9D93A4;
	border-radius: 35px;
	padding-top: 2rem;
	margin-right: auto;
	margin-left: auto;
}

.centering + p {
	padding: 0px 3.5rem;
}

img + p {
	margin-bottom: 0px;
	margin-top: 0.3rem;
}

.price {
	text-align: right
}

span +span {
	margin-left: 1.5rem;
}

.col-sm-2 {
	padding: 0;
	max-width: 0px;
}

#naked {
	border: none;
}

.col-12{
	max-width: 90%;
}

#top-line-footer {
	text-align: left;
}

a img {
	object-fit: contain;
}


label {
	font-size: 26px;
	line-height: 68px;
	display: none;
	width: 26px;
	float: right;
}

#toggle {
	display: none;
	line-height: 68px;
}

@media only screen and (max-width: 991px) {
	label {
		display: block;
		cursor: pointer;
		line-height: 68px;
	}
	.menu-area {
		text-align: center;
		width: 100%;
		display: none;
		position: absolute;
   		right:0;

	}
	.menu-area li a {
		display: block;
		color: #E7E5E8;
		letter-spacing: 1px;
		font-family: 'Tangerine', cursive;
		margin: 0;
		z-index: 1;
	}
	#toggle:checked + .logo + .menu-area {
		float: right;
		display: block;
		margin: 68px 0px 0px 0px;
		width: 180px;
		background-color: #333;
	}
	.menu-area li a {
		width: 180px;
	}
	.menu-area li a:hover {
		background: tomato;
		color: #fff;
	}
	#productdropdown {
		display: none;
	}
 	#product_ul {
		display: none;
	}
	
}	

.row-index {
	text-align: center
}


@media screen and (min-width: 750px) and (max-width: 991px) {
    .trim {
    	max-height: 300px;
    }
}

@media screen and (max-width: 750px){
    .row {
    	padding-bottom: 0;
    }
}

.col-lg-6 {
	margin-bottom: 2rem;
	border: solid 1px #9D93A4;
	border-radius: 35px;
	padding-top: 2rem;
	margin-right: auto;
	margin-left: auto;
}

@media screen and (min-width: 360px) and (max-width: 750px) {
    .trim {
    	max-height: 250px;
    }
    .container {
    	margin: auto;
    	width: 360px
    }
    .footerclass {
    	margin-left: 8%;
    }
    footer {
    	width: 80vw;
    }
   .wrapper {
   	text-align: left;
   }
   .product p {
   	padding: 0px 20px;
   }
 
}

@media screen and (max-width: 767px) {
	  #welcome {
		display: none;
	}
	#indexswitching {
		display: grid;
	}
	.switching:nth-of-type(1){
		order:2;
	}
	.switching:nth-of-type(1){
		order:2;
	}
	.index {
		display: grid;
	}
	.index:nth-of-type(1) {
		order: 1;
	}
	.index:nth-of-type(2) {
		order: 2;
	}
	.index:nth-of-type(3) {
		order: 4;
	}
	.index:nth-of-type(4) {
		order: 3;
	}
}

.index a {
	text-decoration: none;
	color: #E7E5E8;
}

.index a h6 {
	margin-top: 10px;
}

@media screen and (min-width: 991px) {
	.menu-area li .navbar-hidden {
    	display:none;
    }
}
