<% include partials/header.ejs %>

<h1>
	CONTACT FORM
</h1>

<div class="container">
	<form action="mom's email" method="????">
		<label>Name<input type="text" name="name"></label>
		<label>Email<input type="text" name="email"></label>
		<label>Message<input type="textarea" name="message"></label>
	</form>
</div>
